.product-card {
    max-width: 150px;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}

.sort-dropdown {
    margin: 20px;
}

.blue-snackbar {
    background: #2196F3;
}